# Entorno virtual
venv/

# Archivos compilados
*.pyc
**/__pycache__/


# Configuración local 
*.log
.env
.android
.vscode/
Afip/cache
*.code-workspace
Prueba.py
node_modules
Certificados
*assets
*android
*.expo
.Servidor.js
Servidor copy.py
logs.txt
serverPy.json


# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
